:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: hsl(210, 36%, 96%);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}


::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-center {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
}

.section-center {
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}

.section-center h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: var(--clr-grey-1);
  letter-spacing: 2px;
  transition: var(--transition);
}

.section-center:hover {
  box-shadow: var(--dark-shadow);
}

.form-control {
  display: flex;
  justify-content: center;
}

.todoInput {
  background-color: var(--clr-grey-9);
  padding: 0.25rem;
  padding-left: 1rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-5);
}

.todoInput::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-5);
}

.submit-btn {
  flex: 0 0 5rem;
  border-color: transparent;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background: var(--clr-primary-5);
  cursor: pointer;
  letter-spacing: 2px;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
  color: var(--clr-white);
}

.submit-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-grey-1);
}

.alert {
  margin-bottom: 2rem;
  height: 2.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

.alert-danger {
  padding: .5rem 0;
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  padding: .5rem 0;
  color: #155724;
  background: #d4edda;
}

.todolist-container {
  list-style-type: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.cross-btn,
.checkbox-label,
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}

.todo-item {
  margin-bottom: 0;
  color: var(--clr-grey-1);
  letter-spacing: 2px;
  transition: var(--transition)
}

@media screen and (min-width: 992px) {

  .icon,
  .todo-item {
    font-size: 1.2rem;
  }
}

.edit-btn {
  color: var(--clr-green-light);
}

.edit-btn:hover {
  color: var(--clr-green-dark);
}

.cross-btn,.delete-btn {
  color: var(--clr-red-light);
}

.cross-btn,.delete-btn:hover {
  color: var(--clr-red-dark);
}

.checkbox-label {
  color: var(--clr-green-dark);
}

.checkbox-label:hover {
  color: var(--clr-green-light);
}


.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}

.clear-btn:hover {
  color: var(--clr-red-dark);
}

.todo-item.completed {
  text-decoration: line-through;
  transition: var(--transition);

}

.edit-btn.disable-btn {
  cursor: not-allowed;
  pointer-events: none;
}

.checkbox {
  display: none;
  ;
}